.profile {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width:500px) {
  .profile {
    flex-direction: column;
  }
}
