.main__profile {
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .main__profile {
    padding-left: 33px;
    padding-right: 33px;
  }
}

@media screen and (max-width:500px) {
  .main__profile {
    padding-left: 19px;
    padding-right: 19px;
    margin-bottom: 36px;
  }
}
