.profile__avatar {
  max-width: 120px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width:500px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
