.element__like-button_active {
  background-image: url(../../../../images/like-active.svg);
  animation: heartbeat .2s ease-in 2;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
