.elements__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-auto-flow: row;
  gap: 20px 17px;
  justify-content: center;
}
