.element__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.208;
  font-style: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 210px;
}
