.element__like-button {
  background-image: url(../../../images/like-inactive.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  padding: 0;
  margin-bottom: 3px;
  border: none;
  transition: opacity .3s ease;
  opacity: 1;
}

.element__like-button:hover {
  opacity: .5;
  cursor: pointer;
}
